a
{
    color: blue;
}
h6
{
    font-size: 1em;
    text-align: end;
    padding-right: 80px;
    color: blue;
}

main
{
    background-image: url(../img/mainimg2.jpg);
    background-size: 100% 100%;
    background-attachment: fixed;
    padding-bottom: 200px;
}

#dishes
{
    background-color: #cec8cb;
    min-width: 900px;
    max-width: 1280px;
    box-shadow: 50px,50px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 100px;
    width: 70%;
}
#dish1
{
    display: block;
    background-color: #cec8cb;
    padding-bottom: 140px;
/*    padding-top: 50px;*/
}
#dish1 img
{
    float: left;
    margin-left: 20px;
    margin-right: 10px;
    border: 3px solid black;
    height: 212px;
}
#dish2
{
    display: block;
    background-color: #d19946;
    padding-top: 30px;
    padding-bottom: 120px;
    padding-left: 20px;
    padding-right: 10px;
/*    padding-top: 50px;*/
}
#dish2 img
{
    float: right;
    margin-left: 20px;
    margin-right: 10px;
    border: 3px solid black;
    height: 212px;
}
#dish3
{
    display: block;
    background-color: #cec8cb;
    padding-top: 30px;
    padding-bottom: 120px;
    padding-left: 5px;
    padding-right: 20px;
}
#dish3 img
{
    float: left;
    margin-left: 20px;
    margin-right: 10px;
    border: 3px solid black;
    height: 212px;
}
p
{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.5em;
    text-align: justify;
    padding-right: 20px;
    padding-top: 10px;
}
#home
{
    background-image: url(../img/Nav%20img2.jpg);
    background-repeat: repeat;
    background-size: 100% 100%;
    height: 655px;
    clear: left;
}

#offer
{
    padding-top: 5px;
    padding-left: 120px;
    padding-right: auto;
    background-color: #cec8cb;
}
#offer ul
{
    display: flex;
    flex-direction: row;
}
#offer li
{
    list-style: none;
    padding: 20px;
    font-size: 1.5em;
    text-align: center;
}
#booking
{
    padding-top: 365px;
    padding-left: 598px;
    padding-right: auto;
    padding-bottom: auto;
}
#booking input[type="submit"]
{
    background-color: #cec8cb;
    width: 150px;
    height: 40px;   
    border-radius: 5px;
}
#button input[type="submit"]
{
    background-color: #cec8cb;
    width: 150px;
    height: 40px;   
    border-radius: 5px;
}
#button input[type="reset"]
{
    background-color: #cec8cb;
    width: 150px;
    height: 40px;   
    border-radius: 5px;
}

/* Pop-up table reservation */
:root
{ 
    --themecolor:rgb(8, 102, 153); 
    --duration:0.8s;
}

#button 
{
    display: flex;
    flex-direction: row;
    grid-column: 2/2;
}
#button input
{
    margin-left: 5px;
}
#close
{
    text-shadow: 1px 1px 8px black;
    color: white;
    cursor: pointer;
    float: right;
}
#form
{
    text-align: left;
    padding-left: 45px;
/*    padding: 25px;*/
}
form
{
    display: grid;
    grid-auto-columns: 200px auto 200px;
    background-color: ;
}
label
{
    color: white;
    margin-top: 10px;
    font-size: 1.5em;
    grid-column: 1/2;
    text-align: justify;
}
input
{     
    margin-top: 10px;
    width: 300px;
    grid-column: 2/2;
}
#overlay
{
    background-color: rgba(0,0,0,0.7);
    width:0;
    height:0;
    overflow: hidden;
    transition:var(--duration); 

    position:fixed;
    left:50%;
    top:50%;
    transform:translate(-50%, -50%);

    display:block;
    justify-content: center;
    align-items: center;
}
#overlay.showoverlay
{
    width:45%;
    height:75%;
    z-index: 1;
}

.showoverlay + #wrapper
{
    filter:blur(5px);
}
#overlay h1
{
    font-size:min(5vw, 5vh);
    color: white;
    text-align: center;
}
