a
{
    color: blue;
}
#chef
{
    float: left;
    margin-left: 20px;
    margin-right: 10px;
    border: 3px solid black;
    height: 312px;
}
#welcome
{
    background-color: ;
}
p
{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.5em;
    text-align: justify;
    padding-right: 20px;
}
#home
{
    background-image: url(../img/home2.jpg);
    background-repeat: repeat;
    background-size: 100% 100%;
    height: 700px;
    clear: left;
}

#offer
{
    padding-left: 50px;
    padding-right: auto;
}
#offer ul
{
    display: flex;
    flex-direction: row;
}
#offer li
{
    list-style: none;
    padding: 20px;
    font-size: 1.5em;
    text-align: center;
}
input[type="submit"]
{
    background-color: #E22C2C;
    width: 100px;
    height: 30px;
}
input[type="reset"]
{
    background-color: #E22C2C;
    width: 100px;
    height: 30px;
}
/* Pop-up table reservation */
:root
{ 
    --themecolor:rgb(8, 102, 153); 
    --duration:0.8s;
}

#button 
{
    display: flex;
    flex-direction: row;
    grid-column: 2/2;
}
#button input
{
    margin-left: 5px;
}
#close
{
    text-shadow: 1px 1px 8px black;
    color:white;
    cursor: pointer;
    float: right;
}
#form
{
    text-align: left;
    padding-left: 200px;
}
form
{
    display: grid;
    grid-auto-columns: 200px auto 200px;
    background-color: ;
}
label
{
    color: white;
    margin-top: 10px;
    font-size: 1.5em;
    grid-column: 1/2;
    text-align: justify;
    
}
input
{     
    margin-top: 10px;
    width: 350px;
    grid-column: 2/2;
}
#overlay
{
    background-color: rgba(0,0,0,0.7);
/*    color: #ede;*/
    width:0;
    height:0;
    overflow: hidden;
    transition:var(--duration); 

    position:fixed;
    left:50%;
    top:50%;
    transform:translate(-50%, -50%);

    display:block;
    justify-content: center;
    align-items: center;
}
#overlay.showoverlay
{
    width:70%;
    height:95%;
    z-index: 1;
}

.showoverlay + #wrapper
{
    filter:blur(5px);
}
#overlay h1
{
    font-size:min(5vw, 5vh);
    color: white;
}
