body {
    margin: 0;
    box-sizing: border-box;
}

header {
/*    background-color: black;*/
    top: 0;
    width: 100%;
    display: table;
    height: 80px;
    float: left;
}

footer {
    background-color: black;
    width: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    clear: left;
}

.footer {
    display: flex;
    margin: auto;
    width: 80%;
    padding-bottom: 10px;
    clear: left;
}

header img {
    padding-top: 20px;
    width: 40%;
}

.Logo {
    padding-left: 30px;
    max-width: 400px;
    display: table-cell;
    align-items: center;
}

.nav-items {
    padding-right: 30px;
    display: table-cell;
    align-items: center;
    float: right;
}

.nav-header {
    display: block;
}

.nav-header a {
    font-weight: 600;
    font-size: 22px;
    color: white;
    text-decoration: none;
    padding-right: 60px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.nav-header a:hover {
    color: red;
}

.social-btn {
    padding: 0 150px;
    padding-bottom: 25px;
}

.links {
    padding-top: 20px;
}

.social-btn-item .fab {
    font-size: 30px;
    color: #ffffff;
    align-items: center;
}

.link-item .fas {
    font-size: 20px;
    color: #ffffff;
    text-align: center;
}

.social-btn-item a {
    text-decoration: none;
    color: #ffffff;
    padding-left: 20px;
    font-size: 20px;
    font-weight: 600;
}
.footer a:hover{
    color: red;
}
.social-btn-item {
    padding-top: 35px;
    display: flex;
    align-items: center;
}

.link-item {
    padding: 15px 0;
    display: flex;
    align-items: center;
    text-align: left;
}

.info a {
    display: block;
    text-decoration: none;
    color: #ffffff;
    font-size: 20px;
    font-weight: 600;
}

.links a {
    text-decoration: none;
    color: #ffffff;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    padding-left: 15px;
}

.nav-footer {
    list-style-type: none;
    display: block;
    text-align: left;
}

.info li {
    padding: 5px 0;
}

.links li {
    padding: 10px 0;
}

main
{
    float: left;
    padding-bottom: 50px;
}

h1
{
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 3em;
    text-align: center;
}
h2
{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 3em;
    text-align: left;
    padding-left: 20px;
}
h3
{
    font-size: 1em;
}