* {
    box-sizing: border-box;
}

body {
    margin: 0;
    height: 100%;
    display: block;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url("../img/bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

header {
    display: block;
    z-index: +99;
}

nav {
    background-color: #000000;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    display: table;
    height: 80px;
    font-family: Arial, Helvetica, sans-serif;
}

footer {
    display: block;
    background-color: #000000;
    bottom: 0;
    width: 100%;
    text-align: center;
    position: relative;
}

header img {
    padding-top: 20px;
    width: 50%;
}

.Logo {
    padding-left: 30px;
    max-width: 400px;
    display: table-cell;
    align-items: center;
}

.nav-items {
    padding-right: 30px;
    display: table-cell;
    align-items: center;
    float: right;
}

.nav-header {
    display: block;
}

.nav-header a {
    font-size: 30px;
    color: white;
    text-decoration: none;
    margin-right: 60px;
}

.nav-header a:hover {
    color: #e25656;
    border-bottom: 2px solid #e25656;
}

.social-btn {
    display: inline-block;
    padding: 0 400px;
    padding-bottom: 25px;
}

.links {
    display: inline-block;
    padding-top: 20px;
}

.social-btn-item .fab {
    font-size: 40px;
    color: #ffffff;
    align-items: center;
}

.link-item .fas {
    font-size: 20px;
    color: #ffffff;
    text-align: center;
}

.social-btn-item a {
    text-decoration: none;
    color: #ffffff;
    padding-left: 20px;
    font-size: 20px;
    font-weight: 600;
}

.social-btn-item {
    padding-top: 35px;
    display: flex;
    align-items: center;
}

.link-item {
    padding: 15px 0;
    display: flex;
    align-items: center;
    text-align: left;
}

.info {
    display: inline-block;
}

.info a {
    display: block;
    text-decoration: none;
    color: #ffffff;
    font-size: 20px;
    font-weight: 600;
}

.links a {
    text-decoration: none;
    color: #ffffff;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    padding-left: 15px;
}

.nav-footer {
    list-style-type: none;
    display: block;
    text-align: left;
}

.info li {
    padding: 5px 0;
}

.links li {
    padding: 10px 0;
}

.wrapper {
    display: block;
    margin: auto;
    width: 80%;
    z-index: -1;
}

span {
    color: #EC0002;
    font-weight: bold;
    font-size: 20px;
}

main {
    display: block;
    padding-top: 100px;
}

.item-col {
    display: inline-block;
    padding: 10px 40px;
    margin-left: 20px;
}

.item-col a {
    display: block;
}

.item-col .fas {
    font-size: 25px;
    padding: 15px 5px;
}

.item-col .far {
    font-size: 25px;
    padding: 15px 5px;
}

.item-1 {
    display: block;
}

.locations {
    padding-top: 20px;
    padding-left: 30px;
    font-size: 35px;
    font-weight: bolder;
    color: #ec3538;
    margin: 25px 0;
}

.wrapper {
    border-radius: 2px;
    margin-bottom: 30px;
    background-color: #ffffff;
    opacity: 95%;
}

.btn-1 {
    float: right;
    margin: 20px 40px;
    width: 150px;
    height: 45px;
    background-color: #ec3538;
    border-radius: 4px;
    display: block;
    text-decoration: none;
    border: none;
    margin-right: 40px;
    font-size: 20px;
    color: #ffffff;
}

.btn-2 {
    margin: 20px 40px;
    width: 150px;
    height: 45px;
    background-color: #ec3538;
    border-radius: 4px;
    display: block;
    text-decoration: none;
    border: none;
    margin-right: 40px;
    font-size: 20px;
    color: #ffffff;
}

.clearfix {
    overflow: auto;
}

.item-2 {
    margin-top: 40px;
}

.item-col-2 {
    padding: 40px 25px;
    display: inline-block;
}

.item-col-2 img {
    width: 50%;
    height: 750px;
}

input[type=text],
select,
textarea {
    display: block;
    width: 150%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}